<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<!-- Moment library -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<!-- jQuery + jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- MDL lite -->
<link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Farbkombinationen für seite --> <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css"> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Math.js library -->
<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.18.0/math.min.js"></script>

<!-- Main CSS files (internal) -->
<link rel="stylesheet" href="main.css">
<script type='text/javascript' src="/socket.io/socket.io.js"></script>
<script type='text/javascript' src="/fields.js"></script>
<script type='text/javascript' src="/<%= menu[active].df %>"></script> 
<link rel='stylesheet' href="/<%= menu[active].css %>">

<!-- Title tag -->
<title><%= menu[active].name %></title>