<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />  
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script type='text/javascript' src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Farbkombinationen für seite -->
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-red.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<link rel="stylesheet" href="main.css">

<script type='text/javascript' src="/socket.io/socket.io.js"></script>
<script type='text/javascript' src="/fields.js"></script>
<script type='text/javascript' src="/charts.js"></script>
<script type='text/javascript' src="/templates.js"></script>
<script type='text/javascript' src="/<%= menu[active].df %>"></script> 

<title><%= menu[active].name %></title>